body {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    color: white;
}

.error {
    display: none;
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.error-icon {
    width: 30px;
    height: 30px;
}